.main {
  /* height: max-content; */
  width: 100%;
  /* align-items: center; */
  background-color: antiquewhite;
  min-height: 100vh;
  padding: 6rem;
}
.evenbox {
  /* height: 20rem; */
  width: auto;
  background-color: azure;
  min-width: 10rem;
}

.h2 {
  justify-content: center;
  margin-right: auto;
  display: flex;
  padding: 2rem;
}

/* sidebar and main style */
.sidebarmain {
  display: flex;
  background-color: beige;
  flex-wrap: wrap;
}
.sidebarmain > *:nth-child(1) {
  background-color: blue;
  flex: 1 1 30%;
  min-width: 20ch;
}

.sidebarmain > *:nth-child(2) {
  background-color: rgb(255, 0, 0);
  flex: 1 1 70%;
}

/* Gridish style */
.gridis {
  display: flex;
  background-color: beige;
  flex-wrap: wrap;
}
.gridis > * {
  flex: 1 1 10rem;
}

.col2 {
  background-color: rgb(255, 136, 0);
  border: 2px solid black;
  /* height: auto; */
  /* padding: 2rem; */
}

/* even colume style */
.evencol {
  display: flex;
  background-color: beige;
}
.evencol > * {
  flex-basis: 100%;
}

.col1 {
  background-color: rgb(255, 136, 0);
  border: 2px solid black;
  height: auto;
  padding: 2rem;
}
