.nav {
 width: 100vw;
 padding: 2rem;
 /* padding-top: rem; */
}

.ul {
  display: flex;
  flex-wrap: wrap;
}

.li {
  /* flex: 1 1 10ch; */
 flex-basis: 10ch;
  text-decoration: none;
  list-style-type: none;
}

.logo {
  margin-left: 2rem;
  margin-right: 4rem;
}


